<section id="course_index_page" class="container">
	<section class="new_courses">
		<a href="/course/new">
			new course <i class="material-icons">add_circle</i>
		</a>
	</section>
	
	<section class="active_courses">
		<h2>Active Courses 
				<i class="material-icons" 
				style="cursor:pointer;"
				title="Displays courses currently in session (editable courses)">help </i></h2>

		<table>
			<tr>
				<th>Course</th>
				<th>Semester</th>
				<th>Year</th>
				<!-- Added by John McNerney hi-->
				<th>Artifact Progress <i class="material-icons" style="cursor:pointer;"
				title="Displays artifact progress for active courses">help</i></th>
				<!-- Added by Colton Thompson-->
				<th>Last Edit</th>
				<th>Due Date</th>
				<th></th>
			</tr>
			<tr>
				<td>CS498</td>
				<td>Fall</td>
				<td>2019</td>
				<td id='completionCS498'> 
					<script>
						function showCompletion(numerator, denominator) {
							if (numerator < denominator)
								return (numerator + ' / ' + denominator);
							else if (numerator == denominator)	
								return (numerator + ' / ' + denominator + ' ✓');		
						} 
						//values of 8 and 12 need to be pulled from artifact
						//will remain static until they can be pulled dynamically
						document.getElementById("completionCS498").innerHTML = showCompletion(8, 12);
					</script>
				</td>
				<td id='CS498'> <script>document.getElementById('CS498').innerHTML = localStorage.getItem('CS498');</script> </td>
				<td>Dec 5, 2019</td>
				<td onclick="setDate('CS498')"><a href="/course/123">edit  <i class="material-icons">edit</i></a></td>
				<td><font color="red" size="1">Will be marked read-only on: Dec 27, 2019</font></td>
			</tr>
			<tr >
				<td>CS499</td>
				<td>Fall</td>
				<td>2019</td>
				<td id='completionCS499'> 
					<script>
						function showCompletion(numerator, denominator) {
							if (numerator < denominator)
								return (numerator + ' / ' + denominator);
							else if (numerator == denominator)	
								return (numerator + ' / ' + denominator + ' ✓');		
						} 
						//values of 12 and 12 need to be pulled from artifact
						//will remain static until they can be pulled dynamically
						document.getElementById("completionCS499").innerHTML = showCompletion(12, 12);
					</script>
				</td>
				<td id='CS499'> <script>document.getElementById('CS499').innerHTML = localStorage.getItem('CS499');</script> </td>
				<td>Dec 5, 2019</td>
				<td onclick="setDate('CS499')"><a href="/course/123">edit  <i class="material-icons">edit</i></a></td>
				<td><font color="red" size="1">Will be marked read-only on: Dec 27, 2019</font></td>
			</tr>
		</table>
	</section>
	<section class="archived_courses">
		<h2>Archived Courses</h2>
		<table>
			<tr>
				<th>Course</th>
				<th>Semester</th>
				<th>Year</th>
				<!-- Added by John McNerney hi-->
				<th>Artifact Progress <i class="material-icons" style="cursor:pointer;"
				title="Displays artifact progress for archived courses">help</i></th>
				<th>Due Date</th>
				<th></th>
			</tr>
			<tr>
				<td>CS498</td>
				<td>Fall</td>
				<td>2019</td>
				<td>8 / 12</td>
				<td>Dec 5, 2019</td>
				<td><a href="/course/123">view <i class="material-icons">pageview</i></a></td>
			</tr>
			<tr>
				<td>CS499</td>
				<td>Fall</td>
				<td>2019</td>
				<td>12 / 12</td>
				<td>Dec 5, 2019</td>
				<td><a href="/course/123">view <i class="material-icons">pageview</i></a></td>
			</tr>
		</table>
	</section>
</section>

<script>
	function showCompletion(numerator, denominator) {
		if (numerator < denominator)
			document.getElementById('completionCS499').innerHTML = <td>(numerator + ' / ' + denominator)</td>
		else if (numerator == denominator)
			document.getElementById('completionCS499').innerHTML = <td>(numerator + ' / ' + denominator + '✓')</td>
			//return (numerator + ' / ' + denominator + '✓')
	}
</script>

<script>
	function setDate(cNum) {
		if (typeof(Storage) !== "undefined") {
			var date = new Date().toLocaleDateString();
			localStorage.setItem(cNum, date);
			
			document.getElementById(cNum).innerHTML = localStorage.getItem(cNum);
		} else {
			document.getElementById(cNum).innerHTML = "N/A";
		}
	}
</script>